<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <form action = "http://0.0.0.0:9500/display" method = "POST">
         <p>senior manager <input type = "number" name = "sm" /></p>
         <p>manager <input type = "number" name = "m" /></p>
         <p>team lead <input type = "number" name = "tl" /></p>
         <p>developer/intern <input type ="number" name = "di" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
</body>
</html>